@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');



body {
background-image: linear-gradient(to right, white,antiquewhite);
margin:0;
padding:0;
font-family:"Cabin", sans-serif;
}

header {
height:100px;
border-bottom: 1px solid gray;
display:flex;
align-items: center;

}



header a {

    color:black;
    font-size:20px;
padding: 5px;
border-radius: 10px;
text-decoration: none;
margin: 5px;
}



.active {
    background-image: linear-gradient(to right , #FF8000 , #FFA64B);



}

a:hover {
color:orange;
transition: 0.3s color linear;
}


.donate h1 {
text-align:left;
font-size:40px;
margin-left:20px;

}



.card {
display:flex;
flex-wrap:wrap;
justify-content: space-around;
width:80%;
margin: 0 auto;
}
.card div{
   box-shadow:5px 5px 5px 0 gray;
    border-radius: 8px;
    width: 270px;
    margin:10px;
    height:300px;
    background-image: url(./images/curved-line-footer.png);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card div img {
width:200px;
height:200px;

.card1 {
height:20px;
width:50px



}




}


.logo {
height: 80px;
width:80px;
display:flex;
align-items: center;
justify-content: center;

}


.grn {
font-size: 25px;
display:flex;
align-items: left;
color:#FF8000;
}

.vault{
    text-align:left;
    font-size:40px;
    margin-left:20px;
    border-top:1px solid grey;
}



.card1 {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:80%;
    margin: 0 auto;
    }
    .card1 div{
       box-shadow:5px 5px 5px 0 gray;
        border-radius: 8px;
        width: 270px;
        margin:10px;
        height:300px;
        background-image: url(./images/curved-line-footer.png);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .rubinimg {
    width:100px;
    height:100px;




    }

    .visa {
    height:20px;
    width:50px;


    }

    .mastercard {
    width:50px;
    height:30px;



    }


    footer {
    background-color: rgba(13, 203, 228, 0.705);
        margin-top:20px;


    }

    .card2 {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        width:80%;
        margin: 0 auto;
        }
        .card2 div{
           box-shadow:5px 5px 5px 0 gray;
            border-radius: 8px;
            width: 270px;
            margin:10px;
            height:300px;
            background-image: url(./images/curved-line-footer.png);
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }


        .coinimg {
        width:100px;
        height:70px;




        }



        .card3 {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            width:80%;
            margin: 0 auto;
            }
            .card3 div{
               box-shadow:5px 5px 5px 0 gray;
                border-radius: 8px;
                width: 270px;
                margin:10px;
                height:300px;
                background-image: url(./images/curved-line-footer.png);
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
            }



            .ec {
                width: 80px;
                height:70px;
        
        
        
         
                }


            .bp {
            width:150px;
            height:150px;

            }

